html {
  min-width: 780px;
}

a { color: inherit; } 

h1 { font-size: 24px !important;  }
h2 { font-size: 24px !important;  }
h3 { font-size: 18px !important;  }

.float-right { float: right; }

.sidebar-paper-light {
  background: #b9c0ca !important;
}

.sidebar-header-light {}

.sidebar-nav-light {
  background: #fcfcfd !important;
}

.main {
  width: 100%;
}

.action-bar {
  overflow: hidden;
  width: calc(100% - 36px);
  margin: 18px;
  margin-bottom: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid grey;
  height: 48px;
}

.notes-snackbar {
  width: 280px;
  border: 1px solid grey;
}

.main-body {
  padding: 18px;
}